<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

<% if session[:user_id] == nil %>
<% else %>
    <th></th>
<% end %>

    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <% if user.private == true %>
      Yes
      <% else %>
      No
      <% end %>
    </td>

<% if session.fetch(:user_id) == nil %>

<% else %>

<%# current_user_requests = FollowRequest.where({ :status => "pending", :sender_id => session.fetch(:user_id)  })%>

<%# the_request = current_user_requests.at(0) %>

  <%# if the_request == nil %>
  <% if user.private == true  %>
    
    <td>
      <form action="/insert_follow_request" method="post">
      <input id="recipent_id" type="text" name="query_recipient_id" value="<%= user.id %>">
      
      <input id="follow_request_status" type="text" name="query_status" value="pending">

      <button>
        Follow
      </button>
    </form>
    </td>

  <% else %>
      <td>
      <form action="/insert_follow_request" method="post">
      <input id="recipent_id" type="text" name="query_recipient_id" value="<%= user.id %>">
      
      <input id="follow_request_status" type="text" name="query_status" value="approved">

      <button>
        Follow
      </button>
      </form>
    </td>
  <% end %>
<% end %>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>

  </tr>
  <% end %>
</table>


