<h1>List of users</h1>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <% if session[:user_id] == nil %>
    <% else %>
      <th></th>
    <% end %>
      <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
    </td>

    <td>
      <% if user.private == true %>
      Yes
      <% else %>
      No
      <% end %>
    </td>

<% if session.fetch(:user_id) == nil %>

<% elsif  user.private != true %>
 
     <td>
      <form action="/insert_follow_request" method="post">
      <input id="recipent_id" type="hidden" name="query_recipient_id" value="<%= user.id %>">
      <input id="follow_request_status" type="hidden" name="query_status" value="accepted">

      <button>
        Follow
      </button>
    </form>
    </td>

<% elsif  user.private == true %>

     <td>
      <form action="/insert_follow_request" method="post">
      <input id="recipent_id" type="hidden" name="query_recipient_id" value="<%= user.id %>">
      <input id="follow_request_status" type="hidden" name="query_status" value="pending">

      <button>
        Follow
      </button>
    </form>
    </td>

<% end %>


    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>

  </tr>
  <% end %>
</table>


